/* styles.css */
/* html {
    scroll-behavior:smooth;
  } */

  @font-face {
    font-family: 'Audiowide';
    src: url('./font/Audiowide-Regular.ttf') format('truetype'); 
    /* font-weight: 400; */
    /* font-style: normal; */
}

* {
    /* font-family: "Audiowide", sans-serif; */ /* this is mindustry font but it looks weird */
    /* font-weight: 100; */
    font-family: Arial, sans-serif;
    line-height: 24px;
    color: #d9e3f7;
}

data{
    all:unset;
}

.skeleton {
    [data-i18n] {
        background: linear-gradient(90deg, #8888884b 25%, #7777774b 50%, #8888884b 75%);
        background-size: 200% 100%;
        color: transparent;
        /* hide text until loaded */
        border-radius: 4px;
        display: inline-block;
        animation: pulse 1.5s infinite linear;
        width: 80%;
        height: 1.5rem;
    }
    h1[data-i18n] {
        height: 2rem;
    }
    h1.title[data-i18n] {
        display: flex;
        font-size: xx-large;
        text-align: center;
        justify-content: center;
        width:300px;
        margin: 0 auto;
        margin-top: 20px;
    }
    h1.title-by[data-i18n] {
        display: flex;
        font-size: xx-large;
        text-align: center;
        justify-content: center;
        width:100px;
        height: 1rem;
        margin: 0 auto;
        margin-top: 3px;
        /* margin-bottom: 24px; */
    }
    
    [data-i18n="foreword.title"]{
        width: 200px;
        margin-bottom: 0;
    }
    [data-i18n="foreword.content1"]{
        width: 95%;
        height: 16rem;
    }
    [data-i18n="introduction.title"]{
        width: 15%;
        height: 2rem;
        margin: 0 auto;
    }
    [data-i18n="introduction.title2"]{
        width: 20%;
        height: 2rem;
        margin: 0 auto;
    }
    [data-i18n="introduction.content1"]{
        width: 95%;
        height: 5rem;
    }
    [data-i18n="introduction.content2"]{
        width: 95%;
        height: 5rem;
    }
    [data-i18n="introduction.content3"]{
        width: 95%;
        height: 2rem;
    }
}


@keyframes pulse {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.title {
    font-size: xx-large;
    text-align: center;
}

.title-by {
    text-align: center;
    font-size: medium;
    margin-top: -17px;
}

html, body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, li, b {
    color: white;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 20px;
}


body {
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #1e2229;
}

body::-webkit-scrollbar {
    width: 12px;
}
body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1003;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    transition: transform 0.25s ease;
}

.modal-content.zoom {
    transform: scale(1.5);
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1004;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
}

.hamburger-menu {
    font-size: 30px;
    cursor: pointer;
    top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it is above other content */
    position: fixed;
    background-color: rgba(144, 216, 255, 0.426);
    border-radius: 8px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;

}
.hamburger-menu-right {
    font-size: 30px;
    cursor: pointer;
    top: 25px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it is above other content */
    position: fixed;
    background-color: rgba(231, 255, 144, 0.426);
    border-radius: 8px;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    transition: right 0.3s ease;

}

.hamburger-menu-right.open {
    right: 308px;
}

.sidebar {
    width: 250px;
    background-color: #16191f;
    padding: 20px 10px 20px 20px;
    position: fixed;    
    height: 100vh;
    left: 0px; /* Initially hidden */
    transition: left 0.3s ease;
    overflow-y: auto;
    z-index: 999; /* Ensure it is below the hamburger menu */
    border: 1px solid #30363d;
}

.sidebar.open {
    left: -280px; /* Show when open */
}


.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.sidebar h2 {
    margin-top: 0;
    color:#ffffff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}




.sidebar-right {
    width: 250px;
    background-color: #16191f;
    padding: 20px;
    position: fixed;
    height: 100vh;
    right: -288px; /* Initially hidden */
    transition: right 0.3s ease;
    overflow-y: auto;
    z-index: 999;
    border: 1px solid #30363d;
}

.sidebar-right.open {
    right: 0px; /* Show when open */
}


.sidebar-right::-webkit-scrollbar {
    width: 12px;
}

.sidebar-right::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners */
}

.sidebar-right h2 {
    font-size: x-large  ;
    margin-top: 0;
    color:#ffffff;
}

.sidebar-right ul {
    list-style-type: none;
    padding: 0;
}

.sidebar-right ul li {
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-right a {
    color: white;
    text-decoration: none;
}

.sub-title {
    padding-top: 15px;
    font-size: 20px;
    font-weight: 300;
}

/* .text-line-container {
    display: flex;
    align-items: center;
    }

.text-line {
margin-right: 5px;
}

.line {
flex-grow: 1;
height: 3px; 
background-color: white; 
border-radius: 30px;
} */

/* .indent {
    margin-left: 20px;
} */

.indent1 {
    margin-left: 25px;
}

.indent2 {
    margin-left: 50px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    border: none;
}


.sidebar ul li a:hover {    
    text-decoration: underline;
}

.highlight {
    background-color: #282d36;
    color: black; 
    padding: 5px;
    border-radius: 5px;
  }


#sidebar a {
display: block; /* This ensures that the link takes up the entire line (makes it look like a box) */
text-decoration: none; /* Optional: to remove the underline from the link */
}

.main-content {
    color: white;
    margin-left: 290px; /* Shift main content to the right to make space for the sidebar */
    margin-top:-20px;
    transition: margin-left 0.3s ease; /* Smooth transition */
    max-width: 100vw;
}

.main-content.open {
    margin-left: 0px;
}


section {
    margin-bottom: 40px;
}

.subtitle {
    margin-bottom: 80px;
}


/* Styles for mobile devices */
@media (max-width: 768px) {
    .ti {
        text-indent: 10px;
    }

    .spin{
        padding-left: 10px;
    }

    /* .indent {
        margin-left: 10px;
    } */

    .main-content {
        padding: 20px;
        margin-top: 20px;
        margin-left: 0px !important ;   
    }
    
    .sidebar ul {
        margin-top: 60px;
    }
    
    .sidebar ul li {
        margin-top: 5px;
        margin-bottom: 0;
    }

    .sidebar {
        font-size: 14px;
        width: 250px;
        padding: 20px 10px 20px 20px;
        position: fixed;
        height: 100vh;
        left: -2px; 
        transition: left 0.3s ease;
        overflow-y: auto;
        z-index: 999;
    }
    
    .sidebar.open {
        left: 0px;
    }

    .sub-title {
        padding-top: 8px;
        font-size: 16px;
        font-weight: 300;
    }

    img, video {
        position: relative !important;
        max-width: 90vw !important;
        left: 0px !important; 
    }

    body {
        font-size: 12px;
    }
    
    table {
        width: 90vw; /* Make the table width 100% of its container */
        border-collapse: collapse; /* Collapse borders */
    }

    ol {
        padding-left: 20px
    }

    /* ol img {
        max-width: 20vw !important;
    } */

    ul {
        padding-left: 20px
    }

    .sidebar-right {
        width: 130px;
        right: -172px;
    }
    
    .sidebar-right.open {
        right: 0px;
    }

    /* .sidebar {
        width: 130px;
        left: -168px;
        font-size: smaller;
    }
    
    .sidebar.open {
        left: 0px;  
    }*/

    .hamburger-menu {
        left: 10px;
        top: 10px;
        font-size: 20px;
        width: 40px;
        height: 40px;
    }

    .hamburger-menu.open {
        opacity: 0;
    }

    .hamburger-menu-right {
        right: 10px;
        top: 10px;
        font-size: 20px;
        width: 40px;
        height: 40px;
    }

    .hamburger-menu-right {
        right: 20px;
    }
    
    .hamburger-menu-right.open {
        right: 188px;
    }
    
    main {
        width: 95vw;
    }

}

@media (max-width: 1670px) {
    .main-content {
        margin-left: 0px !important ;   
    }
    .sidebar {
        font-size: 14px;
        width: 250px;
        padding: 20px 10px 20px 20px;
        left: -292px; 
    }

    .sidebar.open {
        left: 0px;
    }
    .sidebar ul {
        margin-top: 60px;
    }

}

/* Styles for desktop devices */
@media (min-width: 769px) {
    .ti {
        text-indent: 30px;
    }
    .main-content {
        padding: 80px 120px 120px 120px;
    }
    .hamburger-menu {
        margin-left: -80px;
        /* opacity: 0; */
    }
    table {
        width: 100%; 
        border-collapse: collapse;
    }
}




.link {
    color:#03a3f2 ;
}

.lg ,.lg sub, .lg sup {
    background-color:lightgrey;
    color: black;
}

/* .bl {
    background-color:lightgray;
    color: black;
} */

.op:not(.variable), .jump:not(.variable), .unit:not(.variable), .draw:not(.variable), .control:not(.variable), .wp:not(.variable) {
    border-radius: 0;
    color: white;
    font-family: "Audiowide", sans-serif;
}

.op:not(.variable), .variable.op::after{
    background-color: #877bad;
}

.jump:not(.variable), .variable.jump::after{
    background-color: #6ab1b1;
}

.unit:not(.variable), .variable.unit::after{
    background-color: #c7b59d;
}

.draw:not(.variable), .variable.draw::after{
    background-color: #a08a8a;
}

.control:not(.variable), .variable.control::after{
    background-color: #d4816b;
}

.wp:not(.variable), .variable.wp::after{
    background-color: #6b84d4;
}

img {
    position: relative;
    max-width: 100%;
}

ol.custom-list {
    list-style-type: none; /* Remove default numbering */
    padding-left: 0; /* Remove default padding */
}
ol.custom-list li {
    position: relative; /* Position relative to use ::before */
    padding-left: 20px; /* Space for the hyphen */
}
ol.custom-list li::before {
    content: "- "; /* The hyphen followed by a space */
    position: absolute; /* Position absolute to place it */
    left: 0; /* Align it to the left of the li */
    top: 0; /* Align it to the top of the li */
}

.oplist {
    margin-top: 5px;
    margin-left: 20px;
}

.spin{
    display: block;
    padding-left: 30px;
    margin-bottom: -8px;
}

.ytlink {
    background-color: #7ed4ff;
    color: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: larger;
    display: flex;
    width: 300px;
    height: 30px;
}

th, td {
    border: 1px solid black; /* Add a border to table cells */
    padding: 3px; /* Add padding inside cells */
    text-align: left; /* Align text to the left */
}
th {
    background-color: #f2f2f2; /* Add background color to table headers */
}

@keyframes backgroundGlow {
    50% {
        background: rgba(200, 200, 200, 0.5); /* Glow color */
    }
  }

.glow-section {
    position: relative;
}

.glow-section::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 30px;
    margin-left: -50px;
    filter:blur(10px);
    z-index: 1001;
    pointer-events: none;
    animation: backgroundGlow 1.5s ease-in-out;
  }

.error-message {
    display: none;
    color: #ff0000; 
    font-size: 16px; 
    font-weight: bold;
    text-align: center; 
    margin-top: 10px;
    padding: 10px;
    background-color: #fdd;
    border: 2px solid #f00;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

a {
    position: relative;
    color:#03a3f2 ;
    text-decoration: none;
    border-bottom: 2px solid #03a3f2;
}

a .tooltip {
    visibility: hidden;
    background-color: rgb(34, 47, 68);
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%; /* Adjust this to control tooltip position */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Arrow below the tooltip */
a .tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Adjust to position the arrow */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(34, 47, 68) transparent transparent transparent;
}

/* Show the tooltip when hovering */
a:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.toadd {
    color: yellow;
}

code {
    background-color: #393d47;
    border: 1px solid #6c7680;
    white-space: break-spaces;
    font-size: 85%;
    padding: 0.05em .4em;
    border-radius: 6px;
    font-family: monospace;
    margin: 0;
}

.key {
    background-color: #222429;
    box-shadow: 0px .15em 0 #6c7680;
}

.variable {
    font-family: "Audiowide";
    color: rgb(182, 255, 245);
    background-color: #030508;
    border: none;
    position: relative;
}

.variable::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: calc(100% - 0.25em);
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
  }

.field {
    border: none;
    font-family: "Audiowide";
    text-shadow: 0px 1px 0px #85868a;
    background-color: #030508;
}

.content-name {
    border: none;
    font-family: "Audiowide";
    color: rgb(255, 255, 194);
    /* text-shadow: 0px 1px 0px #85868a; */
    background-color: #030508;
    font-weight: 0;
}

code span {
    font-family: monospace;
}

.code-block {
    border: 1px solid #373b41;
    border-radius: 8px;
    word-wrap: break-word;
}

.code-block-header {
    background-color: #161c25;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
    padding: 12px;
}

pre {
    background-color: #1c2029;
    border-top: 1px solid #373b41;
    border-radius: 0 0 8px 8px;
    /* padding: 10px; */
    padding: 20px 10px 20px 10px;
    margin: 0;
    font-family: monospace;
}

/* Highlighting specific language syntax */
.keyword {
    color: #ff79c6; /* Pink for keywords */
    font-weight: bold;
}

.string {
    color: #50fa7b; /* Green for strings */
}

.comment {
    color: #6272a4; /* Blue for comments */
    font-style: italic;
}

.function {
    color: #f1fa8c; /* Yellow for functions */
}

.number {
    color: #bd93f9; /* Purple for numbers */
}

.sidebar ul li {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.copy-link-btn {
    all: unset;
    font-size: smaller;
}

.sidebar-link {
    flex:1;
}

iframe {
    overflow: hidden;
    height: 90px;
    transform: scale(1.2);
    width: 100%;
    transform-origin: left center;
}

/* Tokens styles */

.left130 {
    left: 130px;
}
.left160 {
    left: 160px;
}
.top15 {
    top: 15px;
}
.width120 {
    width: 120px;
}
.width600 {
    width: 600px;
}
.width700 {
    width: 700px;
}
.width800 {
    width: 800px;
}
.width300 {
    width: 300px;
}
.mtop20 {
    margin-top: 20px;
}